@page "/restaurants/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent table="table" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Restaurant restaurant = new Restaurant ();
    protected async override Task OnParametersSetAsync()
    {
        restaurant = await _client.GetFromJsonAsync<Restaurant>($"{Endpoints.RestaurantsEndpoint}/{id}");
    }
}
