@page "/menus/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent menu="menu" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Menu menu = new Menu ();
    protected async override Task OnParametersSetAsync()
    {
        menu= await _client.GetFromJsonAsync<Menu>($"{Endpoints.MenusEndpoint}/{id}");
    }
}
