@page "/individuals/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Booking</h3>
<hr />
<br />
<FormComponent ButtonText="Create" OnValidSubmit="CreateBooking" booking="booking" id="id"/>

@code {
    [Parameter] public int id { get; set; }
    Booking booking = new Booking();

    private IList<Booking> Bookings;

    protected async override Task OnInitializedAsync()
    {
        Bookings = await _client.GetFromJsonAsync<List<Booking>>($"{Endpoints.BookingsEndpoint}");
    }

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/");
    }
}