@page  "/Overview"
<body>
    <div>
        <table>
            <tr>
                <td>
                    <div height="auto,auto,auto,156px">
                        <div height="100,100,115,100%">
                            <img src="https://qul.imgix.net/c489aa2b-7abb-47c8-90c1-3138eda84fab/435795_sld.jpg?auto=format&w=230&h=156&fit=crop&ch=Viewport-Width%2CWidth%2CDPR" width="320" height="180">
                        </div>
                        <h2>Eatzi Gourmet Bistro - SAFRA Yishun</h2>
                        <span>Location: Yishun</span>
                        <div>
                            <span>Cuisine: International</span>
                            <div>
                                <p>Dishes priced around: <span>$21</span></p>
                                <div font-size="body.lg">
                                    5.3<span>/6</span>
                                </div>
                                <span font-size="body.xs">83 reviews</span>
                                <a href="" class="btn btn-warning">
                                    <span class="oi oi-check"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div height="auto,auto,auto,156px">
                        <div height="100,100,115,100%">
                            <img src="https://qul.imgix.net/efd3bffe-ac27-4dfe-9900-24047f0f105c/383932_sld.jpg?auto=format&w=230&h=156&fit=crop&ch=Viewport-Width%2CWidth%2CDPR" width="320" height="180">
                        </div>
                        <h2>Yassin Kampung Seamenu - Admiralty</h2>
                        <span>Location: Admiralty</span>
                        <div>
                            <span>Cuisine: Southeast Asian</span>
                            <div>
                                <p>Dishes priced around: <span>$16</span></p>
                                <div font-size="body.lg">
                                    5.3<span>/6</span>
                                </div>
                                <span font-size="body.xs">220 reviews</span>
                                <a href="" class="btn btn-warning">
                                    <span class="oi oi-check"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div height="auto,auto,auto,156px">
                        <div height="100,100,115,100%">
                            <img src="https://qul.imgix.net/48628ed8-c092-4194-a91f-335e9e5170d9/101253_landscape.jpg?auto=format&ch=Viewport-Width%2CWidth%2CDPR" width="320" height="180">
                        </div>
                        <h2>La Pizzaiola - Teacher's Estate (Kalidasa)</h2>
                        <span>Location: Yio Chu Kang</span>
                        <div>
                            <span>Cuisine: Italian</span>
                            <div>
                                <p>Dishes priced around: <span>$24</span></p>
                                <div font-size="body.lg">
                                    5.3<span>/6</span>
                                </div>
                                <span font-size="body.xs">392 reviews</span>
                                <a href="" class="btn btn-warning">
                                    <span class="oi oi-check"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>