body {
    background-color: #FFFFE3;
}

h3 {
    text-indent: 160px;
}

.column {
    float: left;
    width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 200px;
    margin-right: auto;
}

th, td {
    padding: 8px;
    text-align: left;
}

    th:nth-child(1) {
        width: 30px;
    }

    th:nth-child(3) {
    }

tr:nth-child(even) {
    background-color: #f2f2f2;
}
