@page  "/Staff_rest"
@inject IJSRuntime JS


<body>

    <header>
        <h2> Restuarants</h2>
    </header>
    <div>
        <table>
            <tr>
                <th></th>
                <th>No.</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>

            <tr>
                <th>
                    <input type="checkbox" id="rest1" name="rest1" value="">
                </th>
                <td>1</td>
                <td> Indie Restuarant</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <a class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" id="rest1" name="rest2" value="">
                </th>
                <td>2</td>
                <td>Curry Restuarant</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <a class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="checkbox" id="rest1" name="rest3" value="">
                </th>
                <td>3</td>
                <td>Chicken Restuarant</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <a class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>

        </table>
    </div>
</body>

@code {

}
