@page  "/Staff_home"
<body>
    <header>
        <h2> Welcome Staff, [Name]</h2>
    </header>
    <div>
        <h3>Announcement</h3>
        <table>
            <tr>
                <th>No.</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Restuarant Closure</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-check"></span>
                    </a>
                    <a class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Restuarant pax reduce</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-check"></span>
                    </a>
                    <a class="btn btn-danger" >
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Hygiene Check for Restuarant</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-check"></span>
                    </a>
                    <a class="btn btn-danger" >
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Change of Menu for restuarant</td>
                <td>
                    <a href="" class="btn btn-warning">
                        <span class="oi oi-check"></span>
                    </a>
                    <a class="btn btn-danger" >
                        <span class="oi oi-delete"></span>
                    </a>
                </td>
            </tr>

        </table>
    </div>
</body>